.page-one {
  padding: 90px 0;
  padding-top: 150px;
  position: sticky;
}
.page-one-box {
  display: flex;
}
.page-one-text {
  display: flex;
  flex-direction: column;
  gap: 27px;
  h1 {
    @include h1;
    color: var(--border-color);
  }
  p {
    @include body-text;
    color: var(--border-color);
  }
  span {
    color: #000;
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
  }
  a {
    width: 159px;
    height: 61px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #000;
    @include button;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
  }
}
.page-one-img {
  position: relative;
  img {
    width: 667px;
    height: 517px;
    flex-shrink: 0;
  }
  iframe {
    position: absolute;
    bottom: 126px;
    left: 124px;
  }
  &::before {
    content: "1";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(42, 165, 108);
    font-size: 54px;
    font-weight: 700;
    top: -30px;
    right: 291px;
    backdrop-filter: blur(15px);
    border: 2px dashed black;
  }
}
